* {
  -webkit-tap-highlight-color: rgba(255,255,255,0);
  -webkit-tap-highlight-color: transparent;
}
body,
.body {
  width: 100vw;
  min-height: 100%;
  box-sizing: border-box;
  position: absolute;
  margin: 0;
  padding: 8px;
  top: 0;
  left: 0;
  z-index: -1;
  background: #556270;
}
.visit {
  position: fixed;
  top: 0;
  left: 0;
  color: rgba(255,255,255,0.9);
  text-decoration: none;
  padding: 16px 20px;
  text-decoration: none;
  font-family: 'lato', sans-serif;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 4px;
}
.visit:hover {
  color: rgba(255,255,255,0.7);
}
@media (orientation: portrait), (pointer: coarse) {
  .visit {
    transform: rotate(90deg);
    top: 120px;
    left: -96px;
    font-size: 24px;
  }
}
.colors {
  margin: 0 auto;
  width: 50px;
  padding: 0;
  height: auto;
  background: #34495e;
  border: 2px solid #2c3e50;
  box-shadow: 0 0 0 5px #2c3e50 inset;
}
.colors .color:before {
  content: '';
  display: block;
  width: 45px;
  height: 40px;
  background: rgba(0,0,0,0);
  border-width: 5px 0;
  border-style: solid;
  border-color: #2c3e50;
  position: relative;
  top: -5px;
  left: -10px;
  transition: all 0.5s ease;
  cursor: pointer;
}
.colors .color:checked:before,
.colors .color:hover:before {
  left: -45px;
}
.colors .color {
  -webkit-appearance: none;
  display: block;
  outline: 0;
  width: 0;
  height: 40px;
  margin: 5px;
  border-left: 10px solid #f00;
  position: relative;
  left: 0;
  transition: all 0.5s ease;
  cursor: pointer;
}
.colors .color:checked,
.colors .color:hover {
  left: 30px;
}
.colors .blue {
  border-color: #3498db;
}
.colors .purple {
  border-color: #9b59b6;
}
.colors .green {
  border-color: #2ecc71;
}
.colors .red {
  border-color: #e74c3c;
}
.colors .orange {
  border-color: #e67e22;
}
.colors .yellow {
  border-color: #f1c40f;
}
.colors .blue:checked + .color + .color + .color + .color + .color + .body {
  background: #3498db;
}
.colors .purple:checked + .color + .color + .color + .color + .body {
  background: #9b59b6;
}
.colors .green:checked + .color + .color + .color + .body {
  background: #2ecc71;
}
.colors .red:checked + .color + .color + .body {
  background: #e74c3c;
}
.colors .orange:checked + .color + .body {
  background: #e67e22;
}
.colors .yellow:checked + .body {
  background: #f1c40f;
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 50px;
}

.wrap {
  position: relative;
  width: 200px;
  height: 200px;
}

.main {
  background: orange;
  width: 100%;
  height: 100%;
  padding: 20px;
  position: relative;
  z-index: 2;
}

.menu {
  background: orchid;
  width: 100px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  -moz-transition: right 0.5s ease;
  -o-transition: right 0.5s ease;
  -webkit-transition: right 0.5s ease;
  transition: right 0.5s ease;
}
.menu a {
  display: block;
  padding: 10px;
}

.wrap:hover .menu {
  right: -100px;
}

