---
layout: template.njk
title: post
date: Last Modified
---
<h2>Blog</h2>

<div class="card">
	<h2>{{title}}</h2>
	<h4>Post last updated on <b>{{page.date.toLocaleDateString("en-US")}}</b></h4>

	{{content | safe}}
</div>
<script src="https://utteranc.es/client.js"
        repo="logo4poop/logo4poop.github.io"
        issue-term="pathname"
        label="Comment Section"
        theme="photon-dark"
        crossorigin="anonymous"
        async>
</script>
