@font-face {
	font-family: 'FiraSans-Regular';
	src: url('/assets/fonts/FiraSans-Regular.woff'),
	src: url('/assets/fonts/FiraSans-Regular.woff2'),
	src: url('/assets/fonts/FiraSans-Regular.ttf')
}

body {
	margin: 0;
	overflow-x: hidden;

	background-color: #222222;
	color: white;
	font-family: 'FiraSans-Regular', sans-serif;
}

img {
	border-radius: 10px;
}

h1 {
	font-size: 50px;
}

.blog-posts {
	display: flex;
	flex-direction: column-reverse;
	gap: 10px;
	list-style: none;
	counter-reset: posts-counter;
}

.blog-posts li {
	counter-increment: posts-counter;
}

.blog-posts > li > a {
	text-decoration: none;
	color: white;
}

.blog-posts li::before {
	content: counter(posts-counter) ". ";
	font-weight: bold;
	color: #FFCC00;
}

.post-date {
	float: right;
}

.page-grid {
	display: grid;
	grid-template-columns: [full-start] minmax(4vmin,auto) [wide-start] minmax(auto,100px) [main-start] min(720px,calc(100% - 8vw)) [main-end] minmax(auto,100px) [wide-end] minmax(4vmin,auto) [full-end];
}

.page-grid > * {
	grid-column: main-start / main-end;
}
.page-grid .width-wide {
	grid-column: wide-start / wide-end;
}
.page-grid .width-full {
	grid-column: full-start / full-end;
}

.page-grid img {
	width: 100%;
}

.page-grid > *+* {
	margin-top: 2vmin;
	margin-bottom: 0;
}

.page-footer {
	padding: 1.5vmin 0;
	margin-top: auto;
}

.logo {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	background-color: #333333;
}

.top-bar > .logo > img {
	margin-right: 15px;
	height: 50px;
	width: auto;
}

.top-bar > .logo > a {
	text-decoration: none;
	margin: 0;
	vertical-align: middle;
	line-height: 50px;
	color: #FFCC00;
}

.card {
	padding: 25px;
	border-radius: 10px;
	background-color: #444444;
}

.card > * {
	color: white;
	text-decoration: none;
}

.card > .card-title {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.card > .card-title > h2 {
	padding-left: 15px;
}

.card > .card-title > img {
	width: 100px;
	height: auto;
}

.menu {
	background-color: #444444;

	display: flex;
	flex-direction: row;
	justify-content: center;

	gap: 2.5%;
}

.menu > a {
	text-decoration: none;
	color: white;
	font-size: 32px;
}

.menu > a:hover, .blog-posts > li > a:hover {
	color: #FFCC00;
}
